<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

    <!-- Default Appenders used by all logging -->
    <appender name="Console" class="org.apache.log4j.ConsoleAppender">
        <param name="Threshold" value="DEBUG"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%t] %-5p %c %x - %m%n"/>
        </layout>
    </appender>

    <appender name="FiveHundredErrors" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="${catalina.home}/logs/500-errors.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd'T'HH:mm:ssZ}: %m%n"/>
        </layout>
    </appender>

    <!-- Categories -->

    <category name="com">
        <priority value="WARN"/>
    </category>

    <category name="org">
        <priority value="WARN"/>
    </category>

    <category name="net">
        <priority value="WARN"/>
    </category>

    <category name="net.irregularexpressions">
        <priority value="DEBUG"/>
    </category>

    <category name="org.springframework.aop.framework.Cglib2AopProxy">
        <priority value="ERROR"/>
    </category>

    <category name="org.springframework.beans.factory.config.CustomEditorConfigurer">
        <priority value="ERROR"/>
    </category>

    <category name="org.springframework.security.authentication.event.LoggerListener">
        <priority value="OFF"/>
        <appender-ref ref="Console" />
    </category>

    <category name="com.viableware.ws.core.server.mapping.EverythingElseExceptionMapper">
        <appender-ref ref="FiveHundredErrors"/>
    </category>

    <!--<category name="httpclient.wire">-->
        <!--<priority value="ERROR"/>-->
    <!--</category>-->

    <!--Unless otherwise specified, all logging goes through the root item-->
    <root>
        <priority value="debug"/>
        <appender-ref ref="Console"/>
    </root>

</log4j:configuration>

